<!doctype html>

<!--temos que importar o thymeleaf pra funcionar na pagina -->
<html lang="pt-br" xmlns:th="http://thymeleaf.org
xmls:layout=http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EventosApp</title>
</head>
<body>
<h1>Cadastro de Eventos</h1>
<!--dentro do formulario abaixo sera colocada todas as tags imput-->
<form method="post">
    Nome: <input type="text" value="" name = "nome"/>
    Local: <input type="text" value="" name = "local"/>
    Data: <input type="text" value="" name = "data"/>
    Horario: <input type="date" value="" name = "horario"/>

    <button type = "submit">Salvar</button>

</form>
</body>
</html>